nav{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
    border: 2px solid black;
}
.hero{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0FDF4;
    background-image: url();
    background-size: cover;
    height: 500px;
}
button{
    background-color: #22C55E;
    font-size: large;
    margin-top: 20px;
    border-radius: 10px;
}
.header{
    text-align: center;
}
.cards{
    justify-content: center;
    display: flex;
    gap: 30px;
}
.card{
    border: 2px solid black;
}
.card-img{
    height: 150px;
    background-color: teal;
}
.about{
    text-align: center;
}
.about-content{
    display: flex;
    gap: 20px;
}
.about-img{
    height: 250px;
    width: 300px;
    background-color: rgb(150, 6, 52);
}
.about-text{
    justify-content: center;
}